<!DOCTYPE html>
<html>
<head>
    <title>Add book</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
  <h1><%=shopData.shopName%>: Add book</h1>

      <% if (errors && errors.length > 0) { %>
    <div style="color:red; margin-bottom: 15px;">
        <ul>
            <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

  <form action="/books/bookadded" method="post">
    <p>
      <label>Book name:
        <input type="text" name="name" required>
      </label>
    </p>
    <p>
      <label>Price:
        <input type="number" name="price" step="0.01" required>
      </label>
    </p>
    <button type="submit">Add Book</button>
  </form>
  
  <p><a href="/">Back home</a></p>
</body>
</html>